In [1]:
import pandas as pd

In [9]:
test = pd.DataFrame({
    "Question": ['a','b'],
    "Answers": ['v','h']
})

test._append({"Model name": " "}, ignore_index=True)

  Question Answers Model name
0        a       v        NaN
1        b       h        NaN
2      NaN     NaN

In [5]:
file_path = r"D:\OneDrive - Adani\Desktop\LEARNING_FOLDER\_Kolkata_2024\1_LLM\3_Text_query_bot\_docs\test_2.xlsx"

test.to_excel(file_path,sheet_name="test_shee_1")